@{
    ViewData["Title"] = "Lid aanpassen";
}

<link href="~/css/WijzigenGegevens.css" rel="stylesheet" />
<div class="btnCont">
    <a class="btn btn-success makeBtn" asp-action="Edit">Wijzig gegevens Lid</a>
</div>