@model G19.Models.Oefening

<head>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/oefeningPartials.css" />


</head>
<div>
   
    <h2>Naam Oefening: @Model.Naam</h2>
    <p>@Model.Uitleg</p>
 
    <script>
    </script>
</div>
