@model G19.Models.Oefening

<head>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/oefeningPartials.css" />
</head>
<div>
    <h2>@Model.Naam</h2>
    <div class="textDiv">
        <p>@Model.Uitleg</p>
    </div>
</div>
