@model G19.Models.Oefening

@{
    ViewData["Title"] = "_Video";
}

<div class="embeded-response embed-responsive-16by9">
    <iframe class="embed-responsive-item"
        src="@Model.Video"
        frameborder="0"
        allowfullscreen></iframe>
</div>


