@model G19.Models.Oefening
<head>
    <link rel="stylesheet" href="~/css/oefeningPartials.css" />
</head>
@{
    ViewData["Title"] = "Fotos";
}
<div class="containerOefening">

    <h2 class="header fotoHeader">Foto's</h2>

    <div class="fotoOefCont">
        @foreach (var image in @Model.Images) {
        <div class="card fotoOefCard">
            <img src="~/img/@image.getImageName()" class="card-img-top" />
            <div class="card-body">
                <h5 class="card-title">@image.getImageName()</h5>
            </div>
        </div>

        }
    </div>
</div>


