@model IEnumerable<G19.Models.Oefening>
@{
    ViewData["Title"] = "Oefeningen";
}

<head>
    <link rel="stylesheet" href="~/css/Oefeningen.css" />
    <link rel="stylesheet" href="~/css/sidenav.css" />
</head>
<div>
    <div id="sidenavOefeningen" class="sidenav">
        <a asp-controller="Oefening" asp-action="GeefOefeningenPerGraad" asp-route-graad="WIT">WIT</a>
        <a asp-controller="Oefening" asp-action="GeefOefeningenPerGraad" asp-route-graad="GEEL">GEEL</a>
        <a asp-controller="Oefening" asp-action="GeefOefeningenPerGraad" asp-route-graad="ORANJE">ORANJE</a>
        <a asp-controller="Oefening" asp-action="GeefOefeningenPerGraad" asp-route-graad="GROEN">GROEN</a>
        <a asp-controller="Oefening" asp-action="GeefOefeningenPerGraad" asp-route-graad="BLAUW">BLAUW</a>
        <a asp-controller="Oefening" asp-action="GeefOefeningenPerGraad" asp-route-graad="BRUIN">BRUIN</a>
        <a asp-controller="Oefening" asp-action="GeefOefeningenPerGraad" asp-route-graad="ZWART">ZWART</a>
        <a asp-controller="Oefening" asp-action="GeefOefeningenPerGraad" asp-route-graad="ALLES">ALLES</a>
    </div>
    <div class="containerOefeningen">
        <h1>Oefeningen</h1>
        <div class="containerOefeningenCards">
            @foreach (var oefening in Model) {
                <div class="card">
                    <a asp-controller="Oefening" asp-action="GeefOefeningById" asp-route-graad=@oefening.Graad asp-route-id=@oefening.Id class="oefeningButton">
                        @oefening.Naam
                    </a>
                    <div class="graadBox @(oefening.Graad.ToString().ToLower().StartsWith("dan") ? "zwart" : oefening.Graad.ToString().ToLower())"></div>
                </div>
            }
        </div>
    </div>
</div>
