@model IEnumerable<G19.Models.Oefening>
@{
    ViewData["Title"] = "Oefeningen";
}
<head>
    <link rel="stylesheet" href="~/css/oefening.css" type="text/css" />
</head>

<h2>@ViewData["Title"]</h2>

<div class="oefeningContainer">
    @foreach (var oef in Model) {
        <div class="oefening">
            <h1>@oef.Naam</h1>
            <h5>@oef.Graad</h5>
            <a asp-controller="oefening" asp-action="geefCommentaar" asp-route-id="@oef.Id">geef commentaar</a> |
        </div>
    }
</div>

