@model G19.Models.Oefening

<head>
    <link rel="stylesheet" href="~/css/oefeningPartials.css" />
</head>
<div class="containerOefening">
    <h2>@Model.Naam.ToUpper()</h2>
    <div class="textDiv">
        <p>@Model.Uitleg</p>
    </div>
</div>
