/*--------------------MOBILE FIRST!---------------------*/
/*START Variables*/
:root {
    /*Color Palette*/
    --primary: #00b4ab;
    --counter: #454553;
    --white: #dfdfdf;
    --yellow: #fbba0a;
    --orange: #f08d0c;
    --green: #269433;
    --blue: #2962df;
    --brown: #853f13;
    --black: #151515;
    --aanwezigheidGemeld:#00909a;
    /*Fonts*/
    --headerFont: 'Montserrat', sans-serif;
    --bodyFont: 'Sanchez', serif;
}
/*END Variables*/
.wit {
    background-color: var(--white);
}

.geel {
    background-color: var(--yellow);
}

.oranje {
    background-color: var(--orange);
}

.groen {
    background-color: var(--green);
}

.blauw {
    background-color: var(--blue);
}

.bruin {
    background-color: var(--brown);
}

.zwart {
    background-color: var(--black);
}

/*START opmaak cards*/
.containerAanwezigheden{
    width: 80vw;
    font-family: var(--headerFont);
    box-sizing: border-box;
    background-color:var(--primary);
    margin-left:20vw;
    margin-top:7vh;
}
.containerAanwezighedenCards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    background-color: var(--counter);
    height:100px;
    margin: 10px;
    position:relative;
    align-items: center;
    width: 20%;
}

.lidButton {
    font-size: 1.17em;
    margin-top: 0.5em;
    color: var(--white);
    height: 3em;
    width: 100%;
    text-align: center;
    background: none;
    border: none;
}
.graadBox {
    display: block;
    width: 100%;
    height: 30px;
    position: absolute;
    bottom: 0;
}
.arrow{
    color:var(--counter);
    position:absolute;
    bottom:5px;
    right:5px;

}
h1{
    color:var(--white);
    font-weight:bold;
    font-family:var(--headerFont);
    width:100%;
    font-size:36px;
    margin-left:15px;
}
@media only screen and (max-width:768px) {
    .card{
        width: 29%;
    }
}
