/*--------------------MOBILE FIRST!---------------------*/
/*START Variables*/
/*:root {*/
    /*Color Palette*/
/*
    --primary: #00b4ab;
    --counter: #454553;
    --white: #dfdfdf;
    --yellow: #fbba0a;
    --orange: #f08d0c;
    --green: #269433;
    --blue: #2962df;
    --brown: #853f13;
    --black: #151515;
    --aanwezigheidGemeld: #00909a;
        */
    /*Fonts*/
    /*
    --headerFont: 'Montserrat', sans-serif;
    --bodyFont: 'Sanchez', serif;
}*/
/*END Variables*/
.wit {
    border: 5px var(--white) solid;
}

.geel {
    border: 5px var(--yellow) solid;
}

.oranje {
    border: 5px var(--orange) solid;
}

.groen {
    border: 5px var(--green) solid;
}

.blauw {
    border: 5px var(--blue) solid;
}

.bruin {
    border: 5px var(--brown) solid;
}

.zwart {
    border: 5px var(--black) solid;
}

/*START opmaak cards*/
.containerAanwezigheden {
    width: 100%;
    font-family: var(--headerFont);
    box-sizing: border-box;
    background-color: var(--primary);
    margin-top: 5vw;
    overflow-x: hidden;
    position: relative;
}

.containerMissAanwezigheden {
    margin-left: 15vw;
    margin-top: 10vh;
}

.containerAanwezighedenCards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    background-color: var(--accent5);
    min-height: 24%;
    margin: 1%;
    position: relative;
    width: 23%;
    display: flex;
    flex-direction: unset;
    align-items: center;
}

.lidButton {
    font-size: 1.17em;
    color: var(--white);
    /*height: 24%;*/
    text-align: center;
    background: none;
    border: none;
    width: 100%;
    padding: 15% 0;
}

.graadBox {
    display: block;
    width: 100%;
    height: 30px;
    position: absolute;
    bottom: 0;
}

.arrow {
    color: var(--counter);
    position: absolute;
    bottom: 5px;
    right: 5px;
}

h1 {
    color: var(--white);
    font-weight: bold;
    font-family: var(--headerFont);
    width: 50%;
    font-size: 36px;
    margin-left: 15px;
}

.form {
    margin-top: 20px;
    margin-left: 15px;
}

.buttons, #irritant {
    background-color: #454553;
    padding: 10px;
    border-radius: 5px;
    color: #f08d0c;
    font-family: 'Montserrat', sans-serif;
}
    .buttons:hover, #irritant:hover {
        background-color: #f08d0c;
        color: #f6f5f6;
    }



/*@media only screen and (min-width:768px) {
    .card {
        width: 29%;
    }
}*/
