/*--------------------MOBILE FIRST!---------------------*/
/*START Variables*/
/*:root {*/
/*Color Palette*/
/*
    --primary: #00b4ab;
    --counter: #454553;
    --white: #dfdfdf;
    --yellow: #fbba0a;
    --orange: #f08d0c;
    --green: #269433;
    --blue: #2962df;
    --brown: #853f13;
    --black: #151515;
    --aanwezigheidGemeld: #00909a;
        */
/*Fonts*/
/*
    --headerFont: 'Montserrat', sans-serif;
    --bodyFont: 'Sanchez', serif;
}*/
/*END Variables*/
.wit {
    border: 5px var(--white) solid;
}

.geel {
    border: 5px var(--yellow) solid;
}

.oranje {
    border: 5px var(--orange) solid;
}

.groen {
    border: 5px var(--green) solid;
}

.blauw {
    border: 5px var(--blue) solid;
}

.bruin {
    border: 5px var(--brown) solid;
}

.zwart {
    border: 5px var(--black) solid;
}

/*START opmaak cards*/
.containerAanwezigheden {
    margin-top: 15vh;
    margin-left: 100px;
    font-family: var(--bodyFont);
}

    .containerAanwezigheden h1 {
        color: #D5A021;
        font-size: 24px;
        font-weight: bold;
    }

.form {
    display: flex;
    flex-direction: column;
    width: 50%;
}

    .form a, #irritant {
        background: var(--counter);
        color: #D5A021;
        padding: 15px 5px 15px 5px;
        border-radius: 10px;
        margin: 5px;
        text-align: center;
    }

        .form a:hover, #irritant:hover {
            background-color: #D5A021;
            color: var(--white);
        }

.containerAanwezighedenCards {
    display: flex;
    flex-direction: column;
}

.cardButton {
    width: 50vw;
    height: 25vh;
    display:inline-block;
    margin:10px;
}

.card {
    width: 50vw;
    height: 25vh;
    max-width: 230px;
    margin:0px !important;
}

    .card img {
        height: 80%;
        width:80%;
        margin: 5px auto;
        border-radius:50%;
    }

    .card p {
        text-align: center;
        color: var(--white);
    }

@media only screen and (min-width:768px) {
    .containerAanwezigheden {
        margin-top: 10vh;
        margin-left: 15vw;
    }

    .form {
        flex-direction: row;
    }

    .containerAanwezighedenCards {
        display: inline-block;
        flex-direction: row;
    }
    .cardButton{
        width:30vw;
    }
    .card {
        min-width: 20vw;
        margin: 0px !important;
        position: relative;
    }

        .card img {
            float: left;
            width: 60%;
            height: 100%;
            border-radius:40%;
            margin:0px;
            padding:10px;
        }

        .card p {
            width: 40%;
            text-align: center;
            position: absolute;
            right: 5px;
            top: 40%;
        }
}
@media only screen and (min-width:1000px){
    .cardButton{
        width:20vw;
        margin:5px;
    }
    .card {
        width: 18vw;
    }
}
