/*--------------------MOBILE FIRST!---------------------*/
/*START Variables*/
:root {
    /*Color Palette*/
    --primary: #00b4ab;
    --counter: #454553;
    --white: #dfdfdf;
    --yellow: #fbba0a;
    --orange: #f08d0c;
    --green: #269433;
    --blue: #2962df;
    --brown: #853f13;
    --black: #151515;
    --aanwezigheidGemeld: #00909a;
    /*Fonts*/
    --headerFont: 'Montserrat', sans-serif;
    --bodyFont: 'Sanchez', serif;
}
/*END Variables*/


.containerOefeningen {
    width: 80vw;
    font-family: var(--headerFont);
    margin-left: 20vw;
    margin-top:5vw;
    height:100%;
}

nav {
    display: block;
    background-color: var(--white);
    width: 80vw;
    height: 50px;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-content:center;
    align-items:center;
    top: 0;
}

nav a, nav a:active {
        text-decoration: none;
        color: var(--primary);
        padding: 40px;
        text-align: left;
}

nav a:hover {
            background-color: var(--white);
        }

.hidden{
    display:none;
}

@media only screen and (min-width:768px) {
    nav {
        height: 5vw;
        width: 80vw;
    }

}

