h2, h3 {
    display: block;
}

h2 {
    font-size: 2em;
    margin: 2vw;
    margin-left: 0;
}

p {
    margin: 2vw;
}

iframe {
    width: 70vw;
    height: 80vh;
}

.card {
    text-align: center;
    width: 33%;
    margin: 0 5%;
}


.container {
    width: 100vw;
    font-family: var(--headerFont);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    box-sizing: border-box;
    background-color: var(--primary);
    vertical-align: middle;
    align-items: center;
}

    .container div {
        justify-content: space-around;
        align-content: flex-start;
        align-items: flex-start;
        overflow: hidden;
        overflow-wrap: break-word;
    }

.nieuweCommentaar {
    margin: 3% 5% 3% 0;
    align-items: unset;
}

.submitButton {
    border: solid 2px var(--accent2);
    margin: 0 auto;
    background-color: var(--accent2);
    color: var(--zwart);
    display: inline-block;
}

.commentaren {
    margin: 3% 5% 3% 0;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
}

.comment {
    font-size: 1.5em;
}

.textDiv {
    background-color: var(--counter);
    color: var(--white);
    padding: 1%;
    font-family: var(--bodyfont);
}

.containerOefening {
    margin: 14% 0 0 3%;
}

.textContainer {
    margin: 5% 3%;
}

.video {
    margin-left: 13%;
}

.fotoOefCont {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
