/*--------------------MOBILE FIRST!---------------------*/
/*START Variables*/
:root {
    /*Color Palette*/
    --primary: #00b4ab;
    --counter: #454553;
    --white: #dfdfdf;
    --yellow: #fbba0a;
    --orange: #f08d0c;
    --green: #269433;
    --blue: #2962df;
    --brown: #853f13;
    --black: #151515;
    --aanwezigheidGemeld: #00909a;
    /*Fonts*/
    --headerFont: 'Montserrat', sans-serif;
    --bodyFont: 'Sanchez', serif;
}
/*END Variables*/


.containerOefeningen {
    width: 70vw;
    font-family: var(--headerFont);
    box-sizing: border-box;
    background-color: var(--primary);
    margin-left: 150px;
    margin-top: 10vh;
}

.containerOefeningenCards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

h1{
    font-family:var(--headerFont);
    color:var(--white);
    font-size:36px;
    font-weight:bold;
    margin-left:10px;
}

.hidden {
    display: none;
}

.unhidden {
    display: inline;
}

.oefeningNavItem {
    color: black;
    margin: 0.5em;
    font-size: 24px;
}

ul li {
    margin: 0.5em 0;
}

.oefeningButton {
    font-size: 1.17em;
    margin-top: 0.5em;
    color: var(--white);
    height: 3em;
    width: 6.5em;
    text-align: center;
    background: none;
    border: none;
}

.graadBox {
    display: block;
    width: 100%;
    height: 30px;
    position: absolute;
    bottom: 0;
}

.wit {
    background-color: var(--white);
}

.geel {
    background-color: var(--yellow);
}

.oranje {
    background-color: var(--orange);
}

.groen {
    background-color: var(--green);
}

.blauw {
    background-color: var(--blue);
}

.bruin {
    background-color: var(--brown);
}

.zwart {
    background-color: var(--black);
}

.card {
    background-color: var(--counter);
    width: 20%;
    height: 100px;
    margin: 10px;
    align-items: center;
    position: relative;
}

@media only screen and (min-width:768px) {
    .containerOefeningen {
        margin-left: 25vw;
        width: 75vw;
        margin-top:6vh;
    }
}

