.sessionoverzicht {
    display: flex;
    flex-direction: column;
    margin: 25% 0 0 25%;
}

    .sessionoverzicht a {
        margin-bottom: 1vh;
        width: 50vw;
    }

    .sessionoverzicht h3 {
        margin-bottom: 1em;
        font-family: var(--bodyFont);
    }

.addsession {
    margin-top: 20vh;
}

.SessionStateMessage {
    display:flex;
    flex-direction:column;
    margin-top: 15vh;
    color: var(--counter);
    font-family: var(--bodyFont);
}

    .SessionStateMessage h1 {
        color: #20639B;
        font-weight: bold;
        font-family: var(--headerFont);
        margin-bottom: 3vh;
        text-align: center;
        font-size: 48px;
    }
    .SessionStateMessage i {
        color: #20639B;
        font-size: 200px;
        margin: 0 auto;
        padding-bottom: 3vh;
        ;
    }
    .SessionStateMessage p{
        text-align:center;
    }

.loginCont {
    margin: 10% 20%;
    opacity: 1 !important;
}

.formLabel {
    font-family: var(--headerFont);
}

.formInput, .formValidation{
    font-family: var(--bodyFont);
}

.bg-img {
    position: absolute;
    top: 15%;
    left: 65%;
    opacity:0.5;
    display: inline-block;
}

.makeBtn {
    text-align: center;
    font-family: var(--headerFont);
}