.sessionoverzicht {
    display: flex;
    flex-direction: column;
    margin: 25% 0 0 25%;
}

    .sessionoverzicht a {
        margin-bottom: 1vh;
        width: 50vw;
    }

    .sessionoverzicht h3 {
        margin-bottom: 1em;
        font-family: var(--bodyFont);
    }

.addsession {
    margin-top: 20vh;
}

.SessionStateMessage {
    margin-top: 15vh;
    margin-left: 5vw;
    color: var(--counter);
    font-family: var(--bodyFont);
}

    .SessionStateMessage h1 {
        color: var(--orange);
        font-weight: bold;
        font-family: var(--headerFont);
        margin-bottom: 1vh;
    }

.loginCont {
    margin: 10% auto;
    opacity: 1 !important;
}

.formLabel {
    font-family: var(--headerFont);
}

.formInput, .formValidation{
    font-family: var(--bodyFont);
}

.bg-img {
    position: absolute;
    top: 15%;
    left: 55%;
    opacity:0.5;
    display: inline-block;
}

.makeBtn {
    text-align: center;
    font-family: var(--headerFont);
}