/*--------MOBILE FIRST!------------*/
/*START Variables*/
:root {
    /*Color Palette*/
    --primary: #00b4ab;
    --counter: #454553;
    --white: #dfdfdf;
    --yellow: #fbba0a;
    --orange: #f08d0c;
    --green: #269433;
    --blue: #2962df;
    --brown: #853f13;
    --black: #151515;
    --aanwezigheidGemeld: #00909a;
    /*Fonts*/
    --headerFont: 'Montserrat', sans-serif;
    --bodyFont: 'Sanchez', serif;
}
/*END Variables*/

.sidenav {
    display: flex;
    background-color: var(--counter);
    height: 96vh;
    max-width: 14vw;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    position: fixed;
    flex-direction: column;
    justify-content: space-around;
    top: 10vh;
    z-index: 100;
}

    .sidenav a, .sidenav a:active {
        text-decoration: none;
        color: var(--primary);
        width: 100%;
        padding: 30px;
        text-align: center;
    }

    .sidenav a:hover {
        background-color: var(--white);
    }

@media only screen and (min-width:768px) {
    .sidenav {
        width: 20vw;
        height: 94vh;
        top: 6vh;
    }
}
