@import url('https://fonts.googleapis.com/css?family=Montserrat|Sanchez');

.sidenav {
    background-color: #454553;
    width: 20%;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    box-sizing:border-box;
}

    .sidenav ul {
        display: flex;
        flex-direction: column;
        height: 80%;
        justify-content: space-around;
        padding-left:15px;
    }

        .sidenav ul li, .sidenav ul li i {
            color: #00b4ab;
        }

.sidenav i{
    font-size:80%;
}

/*Placing the arrows right.*/
.sidenav li{
    width:100%;
}
.sidenav ul li i{
    height:100%;
    float:right;
}
