/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
@import url('https://fonts.googleapis.com/css?family=Montserrat|Sanchez');

:root {
    /*Color Palette*/
    --primary: #E4E8EB;
    --counter: #3E3D3F;
    --white: #CCCCCC;
    --accent1: #157A6E; /*greenish*/
    --accent2: #D5A021; /*yellowish*/
    --accent3: #725752; /*brownish*/
    --accent4: #A32F4A; /*wine red*/
    --yellow: #fbba0a;
    --orange: #f08d0c;
    --green: #269433;
    --blue: #2962df;
    --brown: #955937;
    --black: #151515;
    --aanwezigheidGemeld: #45B268;
    /*Fonts*/
    --headerFont: 'Montserrat', sans-serif;
    --bodyFont: 'Sanchez', serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: unset;
    padding: unset;
    border: unset;
    font-size: unset;
    font: unset;
    vertical-align: unset;
}


body {
    /* Margin bottom by footer height */
    /*margin-bottom: 60px;*/
    background-color: var(--primary);
}

/*CONTAINER VOOR ALLE CONTENT DIE GERENDERD WORDT*/
.container, main.pb-3, body, html {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

.container {
    position: relative;
}

/*FOOTER*/
/*.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    /* Set the fixed height of the footer here 
    height: 60px;
    line-height: 60px; /* Vertically center the text there 
    text-align: center; /* Horizontally center the text here 
}*/

/*.graadBox {
    border-radius: 0;
    border: none;
    display: inline-block;
    height: 3vw;
    width: 3vw;
    vertical-align: bottom;
    margin-left: 3%;
    margin-right: 3%;
    border-radius: 50%;
    margin: 1% 3%;
}

.lidNaam {
    font-family: var(--headerFont);
    display: inline-block;
    color: var(--white);
    font-size: 2vw;
    width: 60%;
    margin-right: 25%;
    vertical-align: middle;
    margin: 1% 22% 1% 0;
}

i {
    font-size: 3vw;
    width: 3vw;
    height: 3vw;
    display: inline-block;
    vertical-align: middle;
    z-index: 1;
    color: whitesmoke;
    margin: 1% 0;
}

.card-body {
    padding: 0;
    background: var(--primary);
    border-radius: 0.5rem;
    height: 100%;
}

.card {
    background: var(--primary);
    border-radius: 0.5rem;
    margin: 1.5% 0;
    height: 100%;
}*/

.headerfont {
    font-family: var(--headerFont);
}

a:hover {
    text-decoration: none;
}

button {
    font-size: 100%;
    font-family: inherit;
    padding: 0;
    border: none;
    background: none;
    width: 100%;
    margin: 0;
    align-items: unset;
    text-align: initial;
    cursor: pointer;
    display: block;
}

    button,
    button:focus,
    button:active {
        border: none;
        background: none;
        outline: none;
        padding: 0;
    }

.oefening {
    width: 12vw;
    margin: 1em;
}

.oefeningContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;
}

.content {
    display: flex;
}

.graadnav {
    background-color: var(--black);
    width: 20%;
}

.nameAnchor {
    display: inline-block;
    width: 40%;
    font-family: var(--headerFont);
}

    .nameAnchor:hover,
    .nameAnchor:active {
        text-decoration: none;
        color: var(--primary);
    }

.imagediv {
    display: inline-block;
}

#account {
    align-items: center;
}

.header {
    font-family: var(--headerFont);
    color: var(--accent3);
}
