
h2,h3{
    display: block;

}

h2{
    font-size:2em;
    margin:2vw;
    margin-bottom:4vw;
}
p {
    margin: 2vw;
}
iframe{
    width: 80vw;
    height: 90vh;
}

.card {
    width: 25%;
    height: 300px;
    margin: 10px;
}
.container {
    width: 100vw;
    font-family: var(--headerFont);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    box-sizing: border-box;
    background-color: var(--primary);
    position: fixed;
}
.container div {
        justify-content: space-around;
        align-content: flex-start;
        align-items: flex-start;
        overflow: hidden;
        overflow-wrap: break-word;
    }