.wijziglidform {
    margin: 7% auto;
}


.formLabel {
    font-family: var(--headerFont);
}

.formControl {
    font-family: var(--bodyFont);
}

.cancelBtn {
    width: 100%;
    margin-top: 1%;
}

.makeBtn {
    text-align: center;
    font-family: var(--headerFont);
    width: 50vw;
}

.btnCont {
    margin: 25% 0 0 25%;
}

.rijksreg{
    width: 2.18em;
    margin: 0;
    margin-bottom: 1em;
    display: inline-block;
}

.rijksregDiv{
    font-size: 2em;
}

.allErrors{
    font-size:1.2em;
    color: red;
    margin: 1em 1em 1em 0;
}
.passwordchange {
    margin-left: 10vw;

    margin-top: 7% ;
}
@media screen and (max-width: 1150px) {
    .wijziglidform{
        margin: 10% auto;
    }
}

@media screen and (max-width: 767px){
    .wijziglidform{
        margin: 12% auto;
    }
}