@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<head>
    <link href="~/css/Session.css" rel="stylesheet" />
</head>

<div class="row">
    <span><img src="~/img/TaijitanGroot.png" class="bg-img"/></span>
    <div class="col-md-4 loginCont">
        <section>
            <form id="account" method="post">
                <h2 class="header">Login</h2>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Email" class="formLabel"></label>
                    <input asp-for="Input.Email" class="form-control formInput" />
                    <span asp-validation-for="Input.Email" class="text-danger formValidation"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password" class="formLabel"></label>
                    <input asp-for="Input.Password" class="form-control formInput" />
                    <span asp-validation-for="Input.Password" class="text-danger formValidation"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe" class="formLabel">
                            <input asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary formLabel">Log in</button>
                </div>
                @*<div class="form-group">
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                    </p>

                </div>*@
            </form>

    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
