@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<head>
    <link rel="stylesheet" href="~/css/sidenav.css" />
</head>
<body>
    <div class="sidenav">

        @*<a asp-controller="Home" asp-action="PerGraad" asp-route-graad="WIT">WIT</a>
        <a asp-controller="Home" asp-action="PerGraad" asp-route-graad="GEEL">GEEL</a>
        <a asp-controller="Home" asp-action="PerGraad" asp-route-graad="ORANJE">ORANJE</a>
        <a asp-controller="Home" asp-action="PerGraad" asp-route-graad="GROEN">GROEN</a>
        <a asp-controller="Home" asp-action="PerGraad" asp-route-graad="BLAUW">BLAUW</a>
        <a asp-controller="Home" asp-action="PerGraad" asp-route-graad="BRUIN">BRUIN</a>
        <a asp-controller="Home" asp-action="PerGraad" asp-route-graad="ZWART">ZWART</a>
        <a asp-controller="Home" asp-action="PerGraad" asp-route-graad="ALLES">ALLES</a>*@


        <a asp-controller="Oefening" asp-action="GeefOefeningenPerGraad" asp-route-graad="WIT">WIT</a>
        <a asp-controller="Oefening" asp-action="GeefOefeningenPerGraad" asp-route-graad="GEEL">GEEL</a>
        <a asp-controller="Oefening" asp-action="GeefOefeningenPerGraad" asp-route-graad="ORANJE">ORANJE</a>
        <a asp-controller="Oefening" asp-action="GeefOefeningenPerGraad" asp-route-graad="GROEN">GROEN</a>
        <a asp-controller="Oefening" asp-action="GeefOefeningenPerGraad" asp-route-graad="BLAUW">BLAUW</a>
        <a asp-controller="Oefening" asp-action="GeefOefeningenPerGraad" asp-route-graad="BRUIN">BRUIN</a>
        <a asp-controller="Oefening" asp-action="GeefOefeningenPerGraad" asp-route-graad="ZWART">ZWART</a>
        <a asp-controller="Oefening" asp-action="GeefOefeningenPerGraad" asp-route-graad="ALLES">ALLES</a>
    </div>
</body>
