<head>
    <link rel="stylesheet" href="~/css/sidenav.css" />
</head>
<body>
    <div class="sidenav">
        <ul>
            <li><a>WIT</a> <i class="fas fa-chevron-right"></i></li>
            <li><a>GEEL</a> <i class="fas fa-chevron-right"></i></li>
            <li><a>ORANJE</a> <i class="fas fa-chevron-right"></i></li>
            <li><a>GROEN</a> <i class="fas fa-chevron-right"></i></li>
            <li><a>BLAUW</a> <i class="fas fa-chevron-right"></i></li>
            <li><a>BRUIN</a> <i class="fas fa-chevron-right"></i></li>
            <li><a>ZWART</a> <i class="fas fa-chevron-right"></i></li>
        </ul>
    </div>
</body>
