@model Session
@{
    ViewData["Title"] = "Huidige Session";
}
<link href="~/css/Session.css" rel="stylesheet" />


<div class="sessionoverzicht">

    <h3> De huidige sessie:</h3> 
    <h3>Formule: @Model.Formule</h3>
    <h3>Datum en Tijd : @Model.Date</h3>
    
        

    <a class="btn btn-dark" asp-controller="Session" asp-action="MaakNieuweSessie">Maak nieuwe sessie</a>
    <a class="btn btn-success" asp-controller="Home" asp-action="Index">Start deze Sessie</a>
</div>