@{
    ViewData["Title"] = "Session";
}
<link href="~/css/Session.css" rel="stylesheet" />

<div class="sessionoverzicht">
   @* <a class="btn btn-dark" asp-controller="Session" asp-action="MaakNieuweSessie">Start nieuwe Sessie</a>*@
    <a class="btn btn-success" asp-controller="Session" asp-action="StartNieuweSessie">Start nieuwe Sessie</a>
</div>