@{
    ViewData["Title"] = "Session";
}
<link href="~/css/Session.css" rel="stylesheet" />

<div class="sessionoverzicht">
    <a class="btn btn-dark" asp-controller="Session" asp-action="MaakNieuweSessie">Maak nieuwe sessie</a>
    <a class="btn btn-success" asp-controller="Session" asp-action="StartBestaandeSessie">Start bestaande Sessie</a>
</div>