@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@{
    ViewData["Title"] = "Session";
}
<link href="~/css/Session.css" rel="stylesheet" />

<div class="sessionoverzicht">
    @* <a class="btn btn-dark" asp-controller="Session" asp-action="MaakNieuweSessie">Start nieuwe Sessie</a>*@
    @if ((await AuthorizationService.AuthorizeAsync(User, "Lesgever")).Succeeded) {
        <a class="btn btn-success makeBtn" asp-controller="Session" asp-action="StartNieuweSessie">Start nieuwe Sessie</a>
    }
    @if ((await AuthorizationService.AuthorizeAsync(User, "Lid")).Succeeded) {
        <a class="btn btn-success makeBtn" asp-controller="Lid" asp-action="Edit">Wijzig gegevens Lid</a>
        <a class="btn btn-success makeBtn" asp-controller="Oefening" asp-action="GeefOefeningenLid">Raadpleeg Lesmateriaal</a>

    }

</div>