
@{
    ViewData["Title"] = "SessionStateMessage";
}
<link href="~/css/Session.css" rel="stylesheet" />

<div class="SessionStateMessage">
    <h1>Foutmelding</h1>
    <p>@TempData["SessionStateMessage"]</p>
</div>

